.aldeanos-body {
    position: absolute;
    left:10px;
    right: 10px;
    justify-content: space-evenly;
}
.card {
    width: 300px;
    background-color: var(--bg-oscuro-max);
    margin: 10px;
    text-align: start;
}
.show {
    display: flex;
}
.card img {
    background-color: var(--text-claro);
}
.card-title {
    color: violet;
}
p {
    font-size: x-small;
}
/*RUTA*/
.indice a:hover {
    color: violet;
}
.btn-home:hover {
    color: violet;
}
.btn-subir {
    color: violet;
    font-size: xx-large;
}
/*FOOTER*/
.redes {
    border-left: 2px solid violet;
}
.titulo-pie {
    color: violet;
}
.btn-redes:hover {
    color: violet;
}
@media (min-width: 768px) {
    .aldeanos-body {
    position: absolute;
    top: 180px;
    left:10px;
    right: 10px;
    height: calc(100vh - 180px);
    }
    .card {
        width: 207px;
    }
}
@media (max-width: 768px) {
    .btn-filtro {
        display: none;
    }
    .aldeanos-body {
        margin-top: 100px;
    }
}