.abrir-menu {
    color: violet;
}
.aldeanos-body {
    position: absolute;
    left:10px;
    right: 10px;
    justify-content: space-evenly;
}
.card {
    width: 300px;
    background-color: var(--bg-oscuro-max);
    margin: 10px;
    text-align: start;
}
.card:hover {
    background-color: var(--bg-oscuro);
    box-shadow: 0px 0px 10px 1px violet;
}
.show {
    display: flex;
}
.card img {
    background-color: var(--text-claro);
}
.card-title {
    color: violet;
}
p {
    font-size: x-small;
}
.filtro{
    height: 50px;
    background-color: var(--bg-oscuro-max);
    color: var(--text-claro);
    font-weight: bold;
    border: 2px solid var(--bg-oscuro-max);
    border-radius: 10px;
}
.filtro:hover{
    background-color: violet;
    color: var(--bg-oscuro-max);
    border: 2px solid violet;
    box-shadow: 4px 4px var(--bg-oscuro-max);
}
.filtro:focus{
    background-color: violet;
    border: 2px solid violet;
    box-shadow: 4px 4px var(--bg-oscuro-max);
    color: var(--text-claro);
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
}
/*RUTA*/
.indice a:hover {
    color: violet;
}
.btn-home:hover {
    color: violet;
}
.btn-subir {
    color: violet;
    font-size: xx-large;
}
/*FOOTER*/
.redes {
    border-left: 2px solid violet;
}
.titulo-pie {
    color: violet;
}
.btn-redes:hover {
    color: violet;
}
@media (min-width: 768px) {
    .aldeanos-body {
    position: absolute;
    top: 180px;
    left:10px;
    right: 10px;
    height: calc(100vh - 180px);
    }
    .card {
        width: 207px;
    }
}
@media (max-width: 768px) {
    .aldeanos-body {
        margin-top: 100px;
    }
}