.abrir-menu {
    color: var(--text-turquesa);
}
/*RUTA*/
.indice a:hover {
    color: var(--text-turquesa);
}
.btn-home:hover {
    color: var(--text-turquesa);
}
/*CONTENIDO*/
.construcciones-body {
    position: absolute;
    top: 160px;
    left:10px;
    right: 10px;
    height: calc(100vh - 160px);
}
.table {
    width: 90vw;
}
table.table tbody tr td a {
    text-decoration: none;
    color: white;
}
.btn-subir {
    color: var(--text-turquesa);
    font-size: xx-large;
}
/*FOOTER*/
.redes {
    border-left: 2px solid var(--text-turquesa);
}
.titulo-pie {
    color: var(--text-turquesa);
}
.btn-redes:hover {
    color: var(--text-turquesa);
}
/*RESPONSIVE*/
@media (max-width: 770px) {
    .table {
        width: 100vw;
        font-size: 0.7em;
    }
    .table img {
        width: auto;
    }
}