.abrir-menu {
    color: chocolate;
}
/*RUTA*/
.indice a:hover {
    color: chocolate;
}
.btn-home:hover {
    color: chocolate;
}
/*CONTENIDO*/
.cuestionario-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: center;
    overflow: auto;
    height: calc(100vh - 80px);
    padding-top: 50px;
    margin: 0;
}
h1 {
    color: chocolate;
    background: var(--bg-oscuro-max);
    padding: 5px;
}
h5 {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    background: var(--bg-oscuro-max);
    border: 1px solid var(--bg-oscuro);
    border-radius: 10px;
}
h5:hover {
    background-color: chocolate;
}
/*CUESTIONARIO*/
#cuestionario {
    width: 95vw;
}
#mensaje_aprobado {
    display: none;
    width: 99vw;
}
#puntuacion{
    display:none;
    width: 55vw;
    height: 40vh;
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
    background-color: var(--bg-oscuro);
    border: 5px solid chocolate;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.boton_submit {
    height: 50px;
    background-color: var(--bg-oscuro-max);
    color: var(--text-claro);
    font-weight: bold;
    border: 2px solid var(--bg-oscuro-max);
    border-radius: 10px;
}
.boton_submit:hover{
    background-color: chocolate;
    color: white;
    border: 2px solid chocolate;
    box-shadow: 4px 4px var(--bg-oscuro-max);
}
.boton_submit:focus{
    background-color: chocolate;
    border: 2px solid chocolate;
    box-shadow: 4px 4px var(--bg-oscuro-max);
    color: var(--text-claro);
}
.caja{
    background-color:var(--bg-oscuro);
    padding:1em;
    margin-left: 20px;
}
h3{
    margin-top: 70px;
}
.form-wrapper input[type="radio"]{
    display: none;
}
.form-wrapper input[type="radio"]:checked + label:before{
    display: block;
}
.form-wrapper input[type="radio"] + label h4{
    margin: 15px;
    padding: 15px;
}
.form-wrapper input[type="radio"]:checked + label h4{
    font-weight: bold;
}
.form-wrapper input[type="radio"] + label{
    display: block;
    border: 2px solid var(--bg-oscuro-max);
    border-radius: 10px;
    max-width: 100%;
    height: 80%;
    cursor: pointer;
    position: relative;
}
.form-wrapper input[type="radio"]:checked + label{
    background-color: chocolate;
    color: var(--text-claro);
    border: 2px solid chocolate;
    border-radius: 10px;
    box-shadow: 4px 4px var(--bg-oscuro-max);
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
}
.form-wrapper input[type="radio"] + label:hover{
    background-color: chocolate;
}
.respuesta{
    background-color: var(--bg-oscuro-max);
}
.btn-subir {
    color: chocolate;
    font-size: xx-large;
}
/*FOOTER*/
footer {
    padding-left: 10px;
}
.redes {
    border-left: 2px solid chocolate;
}
.titulo-pie {
    color: chocolate;
}
.btn-redes:hover {
    color: chocolate;
}