.abrir-menu {
    color: var(--text-turquesa);
}
::-webkit-scrollbar {
    width: 15px;
    background: var(--degradado);
}
::-webkit-scrollbar-thumb {
    background: var(--text-turquesa);
    border-radius: 10px;
}
/*RUTA*/
.indice a:hover {
    color: var(--text-turquesa);
}
.btn-home:hover {
    color: var(--text-turquesa);
}
/*CONTENIDO*/
.cultivos-body {
    position: absolute;
    top: 160px;
    left:10px;
    right: 10px;
    height: calc(100vh - 160px);
    text-shadow: 1px 1px 3px var(--bg-oscuro-max);
}
.cultivos-tabla {
    width: 85vw;
}
h3 {
    color: var(--text-turquesa);
    text-shadow: 2px 2px 5px var(--bg-oscuro-max);
}
table {
    border: 5px solid var(--text-turquesa);
    border-collapse: collapse;
    text-align: center;
}
thead {
    background: var(--bg-oscuro-max);
    border-bottom: 5px solid var(--text-turquesa);
}
thead tr th {
    border-left: 5px solid var(--text-turquesa);
}
table th, td {
    border: 4px solid var(--bg-oscuro-max);
    padding: 15px;
}
.columna1 {
    background-color: var(--bg-oscuro);
}

tr:hover td {
    background: var(--bg-oscuro);
}
tr:hover td.columna1 {
    background: var(--bg-oscuro-max);
}
.btn-tabla{
    height: 50px;
    background-color: var(--bg-oscuro-max);
    color: var(--text-claro);
    font-weight: bold;
    border: 2px solid var(--bg-oscuro-max);
    border-radius: 10px;
}
.btn-tabla:hover{
    background-color: var(--text-turquesa);
    color: var(--bg-oscuro-max);
    border: 2px solid var(--text-turquesa);
    box-shadow: 4px 4px var(--bg-oscuro-max);
}
.btn-tabla:focus{
    background-color: var(--text-turquesa);
    border: 2px solid var(--text-turquesa);
    box-shadow: 4px 4px var(--bg-oscuro-max);
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
}
.btn-subir {
    color: var(--text-turquesa);
    font-size: xx-large;
}
#btn-arriba {
    display: none;
}
.card {
    width: 300px;
    background-color: var(--bg-oscuro-max);
    margin: 10px;
    height: max-content;
}
.card img {
    background-color: var(--text-claro);
    width: 250px;
}
.card-title {
    color: var(--text-turquesa);
}
/*FOOTER*/
.redes {
    border-left: 2px solid var(--text-turquesa);
}
.titulo-pie {
    color: var(--text-turquesa);
}
.btn-redes:hover {
    color: var(--text-turquesa);
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    .cultivos-body {
        width:100vw;
        justify-content: center;
        font-size: small;
    }
    .cultivos-tabla {
        width:100vw;
    }
}
@media (max-width: 600px) {
    .cultivos-body {
        font-size: x-small;
    }
}
@media (max-width: 500px) {
    .cultivos-body {
        font-size: xx-small;
    }
}