/*CONTENIDO*/
.eventos-body {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    overflow:auto;
    height: calc(100vh - 150px);
}
.card {
    background: var(--bg-primario);
    border: 0;
}
.card-header {
    background: var(--bg-primario);
    border: 0;
}
.apartados a {
    color: var(--text-claro);
    border-radius: 5px;
}
.apartados a:hover {
    border: 2px solir red;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--text-salmon);
    font-weight: bold;
    background: var(--bg-oscuro-max);
    border: 0;
    border-radius: 5px;
}
.portadaEventos img {
    border-radius: 10px;
    width: 25vw;
}
/*FOOTER*/
.redes {
    border-left: 2px solid var(--text-salmon);
}
.titulo-pie {
    color: var(--text-salmon);
}
.btn-redes:hover {
    color: var(--text-salmon);
}
.indice a:hover {
    color: var(--text-salmon);
}
.btn-home:hover {
    color: var(--text-salmon);
}