/*BARRA SECUNDARIA*/
.indice a:hover {
    color: var(--text-salmon);
}   
.indice {
    background-color: #546987e6;
}
/*CONTENIDO*/
.eventos-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    overflow:auto;
    height: calc(100vh - 80px);
}
.card {
    background: var(--bg-primario);
    border: 0;
    margin-top: 70px;
}
.card-header {
    background: var(--bg-primario);
    border: 0;
}
.apartados a {
    color: var(--text-claro);
    border-radius: 5px;
}
.apartados a:hover {
    border: 2px solir red;
}
.btn-estaciones{
    height: 50px;
    background-color: var(--bg-oscuro-max);
    color: var(--text-claro);
    font-weight: bold;
    border-radius: 10px;
}
#portadaEventos img {
    border-radius: 10px;
    width: 250px;
}
.almanaque {
    display: none;
}
/*FOOTER*/
.redes {
    border-left: 2px solid var(--text-salmon);
}
.titulo-pie {
    color: var(--text-salmon);
}
.btn-redes:hover {
    color: var(--text-salmon);
}
.btn-home:hover {
    color: var(--text-salmon);
}
/*RESPONSIVE*/
@media (max-width: 525px) {
    .card {
        display: none;
    }
    .almanaque {
        display: block;
        margin-top: 25px;
    }
    .almanaque img {
        width: 100vw;
    }
}