* {
    box-sizing: border-box;
    scrollbar: none;
}
::-webkit-scrollbar {
    display: none;
    }
body {
    background-color: #546986;
    font-family: Candara, Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    text-align: justify;
}
.barra {
    background-color: #384861;
    list-style: none;
    font-weight: bold;
}
.navbar img {
    height: 50px;
}
.listado {
    max-width: 992px;
    margin: 0 auto;
}
.nav-link {
    border-radius: 10px;
    margin-right: 3em;
    color: #14d4a5;
}
.nav-link:hover {
    background-color: #546986;
    transition: 0.9s;
}
.menu {
    background-color: #546986cc ;
    height: 10vh;
}
.contenido {
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 10vw ;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

@font-face {
    font-family: MissionScript;
    src: url('../font/Mission-Script.otf') format('opentype');
}
/* @colores {
    gris claro: #c7c8d1;
    gris: #546986;
    gris oscuro: #384861;
    turquesa: #14d4a5;
    salmon: #bf4d3f;

}*/