.navbar img {
    cursor: pointer;
    max-height: 5vh;
}
.fondo {
    background: url("../img/fondo.jpg") center;
    background-size: cover; 
    height: 12vh;
}
.contenido {
    position: fixed;
    bottom: 0px;
    height: 80vh;
    width: 100vw;
    border: 5px solid white;
    border-radius: 10px;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.barra {
    height: 7vh;
}


