:root {
    --bg-primario: #546986;
    --bg-oscuro: #384861;
    --bg-claro: #b0b4da;
    --bg-oscuro-max: #1b2638;
    --text-turquesa: #14d4a5;
    --text-salmon: #e24c39;
    --text-naranja: #ffa500;
    --text-oscuro: black;
    --text-claro: beige;
    --degradado: linear-gradient(195deg, #546986, #1b2638 30%);
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: Cardana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-primario);
    color: var(--text-claro);
    text-align: justify;
}
a {
    text-decoration: none;
}
/*CONTENIDO*/
.contenido {
    height: 100vh;
    width: 100vw;
    padding: 25vh 10vw;
}
@media (max-width: 768px) {
    .contenido {
        padding: 11vh 5vw;
    }
}