:root {
    --bg-primario: #546986;
    --bg-oscuro: #384861;
    --bg-claro: #b0b4da;
    --bg-oscuro-max: #1b2638;
    --text-turquesa: #14d4a5;
    --text-salmon: #e24c39;
    --text-naranja: #ffa500;
    --text-oscuro: black;
    --text-claro: beige;
    --degradado: linear-gradient(195deg, #546986, #1b2638 30%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
   }
body {
    font-family: Cardana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-primario);
    color: var(--text-claro);
    text-align: justify;
}
header {
    z-index: 1;
}
a {
    text-decoration: none;
}
/*CABECERA*/
.topheader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
/*BARRA DE NAVEGACIÓN*/
.topnav {
    background-color: var(--bg-oscuro);
    list-style: none;
    font-weight: bold;
    box-shadow: 0 0 3px 3px var(--bg-oscuro-max);
}
/*LOGO*/
.logo {
    height: 40px;
}
/*MENU*/
.nav-menu {
    max-width: 992px;
    margin: 0 auto;
}
.nav-menu a {
    border-radius: 10px;
}
/*COLORES MENU*/
.inicio {
    color: var(--text-naranja);
}
.inicioh a:hover {
    color: var(--text-naranja);
    background: var(--degradado);
}
.granja {
    color: var(--text-turquesa);
}
.granjah a:hover {
    color: var(--text-turquesa);
    background: var(--degradado);
}
.eventos {
    color: var(--text-salmon);
}
.eventosh a:hover {
    color: var(--text-salmon);
    background: var(--degradado);
}
.aldeanos {
    color: violet;
}
.aldeanosh a:hover {
    color: violet;
    background: var(--degradado);
}
.mapa {
    color: chartreuse;
}
.mapah a:hover {
    color: chartreuse;
    background: var(--degradado);
}
.mas {
    color: chocolate;
}
.mash a:hover {
    color: chocolate;
    background: var(--degradado);
}
/*BOTÓN BARRAS*/
.abrir-menu {
    background: none;
    border: none;
    font-size: 35px;
    display: none;
}
/*BARRA SECUNDARIA*/
.indice {
    background-color: #546987e6;
    text-decoration: none;
    padding: 10px 0;
}
.indice a {
    color: white;
    font-size: medium;
    text-decoration: none;
}
.btn-home {
    color: var(--text-claro);
    background: none;
    border: none;
    font-size: 22px;
}
/*CONTENIDO*/
.contenido {
    height: 100vh;
    width: 100vw;
    padding: 25vh 10vw;
}
/*FOOTER*/
footer {
    background: #384861;
    margin-top: 50px;
    width: 100vw;
    /*align-self: flex-end;*/
}
.pie {
    text-decoration: none;
    margin: 10px 0 0 0;
    justify-content: space-evenly;
}
.titulo-pie {
    font-size: small;
}
.texto-pie {
    font-size:xx-small;
}
.redes a {
    text-decoration: none;
}
.btn-redes {
    color: var(--text-claro);
    background: none;
    border: none;
    font-size: 25px;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    .contenido {
        padding: 11vh 5vw;
    }
    /*NAVBAR*/
    .abrir-menu {
        display: block;
    }
    #desplegable {
        height: auto;
        overflow-y: auto;
    }
    .nav-item a:hover {
        background: var(--bg-oscuro-max);
    }
}
@media (max-width: 768px) {
    .indice {
        display: none;
    }
}
@media (max-width: 1130px) {
    .pie2 {
        display: none;
    }
}