.abrir-menu {
    color: chartreuse;
}
::-webkit-scrollbar {
    width: 15px;
    background: var(--degradado);
}
::-webkit-scrollbar-thumb {
    background: chartreuse;
    border-radius: 10px;
}
/*RUTA*/
.indice a:hover {
    color: chartreuse;
}
.btn-home:hover {
    color: chartreuse;
}
/*CONTENIDO*/
.mapa-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: center;
    overflow: auto;
    height: calc(100vh - 80px);
    padding-top: 50px;
}
.mapa-img {
    margin-top: 50px;
}
.mapa-img img {    
    border-radius: 25px;
}
.mapa-dividido {
    display: none;
}
/*FOOTER*/
.redes {
    border-left: 2px solid chartreuse;
}
.titulo-pie {
    color: chartreuse;
}
.btn-redes:hover {
    color: chartreuse;
}

@media (max-width: 768px) {
    .mapa-img {
        display: none;
    }
    .mapa-dividido {
        position: relative;
        display: block;
        width: 100vw;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .mapa-dividido a {
        text-decoration: none;
        color: chartreuse;
    }
}