.mapa-body {
    position: absolute;
    top: 180px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    overflow: hidden;
    height: calc(100vh - 180px);
}
/*FOOTER*/
.redes {
    border-left: 2px solid chartreuse;
}
.titulo-pie {
    color: chartreuse;
}
.btn-redes:hover {
    color: chartreuse;
}
.indice a:hover {
    color: chartreuse;
}
.btn-home:hover {
    color: chartreuse;
}