.mapa-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: center;
    overflow: auto;
    height: calc(100vh - 80px);
}
/*FOOTER*/
.redes {
    border-left: 2px solid chartreuse;
}
.titulo-pie {
    color: chartreuse;
}
.btn-redes:hover {
    color: chartreuse;
}
.indice a:hover {
    color: chartreuse;
}
.btn-home:hover {
    color: chartreuse;
}
.mapa-img {
    margin-top: 50px;
}
.mapa-dividido {
    display: none;
}
@media (max-width: 768px) {
    .mapa-img {
        display: none;
    }
    .mapa-dividido {
        display: block;
        width: 100vw;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .mapa-dividido a {
        text-decoration: none;
        color: var(--text-naranja);
        
    }
    .mapa-moviles {
        /*MIRAR LO DE CENTRARLO*/
    }
}