/*RUTA*/
.indice a:hover {
    color: chocolate;
}
.btn-home:hover {
    color: chocolate;
}
/*CONTENIDO*/
.mas-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: center;
    overflow: auto;
    height: calc(100vh - 80px);
    padding-top: 50px;
}
.caja {
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
    background-color: var(--bg-oscuro);
    border: 5px solid chocolate;
    border-radius: 30px;
}
#respuesta {
    width: 10em;
    height: 10em;
    border: 2px solid white;
    border-radius: 10em;
}
.musica {
    background-color: var(--bg-oscuro);
    width: 100vw;
}
#loading {
    display: none;
}
.botonApi {
    height: 50px;
    background-color: var(--bg-oscuro-max);
    color: var(--text-claro);
    font-weight: bold;
    border: 2px solid var(--bg-oscuro-max);
    border-radius: 10px;
}
.botonApi:hover{
    background-color: chocolate;
    color: var(--text-claro);
    text-shadow: 1px 1px 1px var(--bg-oscuro-max);
    border: 2px solid chocolate;
    box-shadow: 4px 4px var(--bg-oscuro-max);
}
/*FOOTER*/
.redes {
    border-left: 2px solid chocolate;
}
.titulo-pie {
    color: chocolate;
}
.btn-redes:hover {
    color: chocolate;
}

