.abrir-menu {
    color: chocolate;
}
/*RUTA*/
.indice a:hover {
    color: chocolate;
}
.btn-home:hover {
    color: chocolate;
}
/*CONTENIDO*/
.mas-body {
    position: absolute;
    top: 80px;
    left:10px;
    right: 10px;
    justify-content: space-evenly;
    height: calc(100vh - 80px);
    margin: 0;
}
.card {
    width: 300px;
    background-color: var(--bg-oscuro-max);
    margin: 10px;
    height: max-content;
}
.card img {
    background-color: var(--text-claro);
    width: 250px;
}
.card-title {
    color: chocolate;
}
.card a {
    text-decoration: none;
}
/*FOOTER*/
.redes {
    border-left: 2px solid chocolate;
}
.titulo-pie {
    color: chocolate;
}
.btn-redes:hover {
    color: chocolate;
}
/*RESPONSIVE*/
@media (min-width: 768px) {
    .card {
        width: 280px;
        margin-top: 100px;
    }
}
