/*BARRA DE NAVEGACIÓN*/
.topnav {
    background-color: var(--bg-oscuro);
    list-style: none;
    font-weight: bold;
    box-shadow: 0 0 3px 3px var(--bg-oscuro-max);
}
/*LOGO*/
.logo {
    height: 40px;
}
/*MENU*/
.nav-menu {
    max-width: 992px;
    margin: 0 auto;
}
.nav-menu a {
    border-radius: 10px;
}
/*COLORES MENU*/
.inicio {
    color: var(--text-naranja);
}
.inicioh a:hover {
    color: var(--text-naranja);
    background: var(--degradado);
}
.granja {
    color: var(--text-turquesa);
}
.granjah a:hover {
    color: var(--text-turquesa);
    background: var(--degradado);
}
.eventos {
    color: var(--text-salmon);
}
.eventosh a:hover {
    color: var(--text-salmon);
    background: var(--degradado);
}
.aldeanos {
    color: violet;
}
.aldeanosh a:hover {
    color: violet;
    background: var(--degradado);
}
.mapa {
    color: chartreuse;
}
.mapah a:hover {
    color: chartreuse;
    background: var(--degradado);
}
.mas {
    color: chocolate;
}
.mash a:hover {
    color: chocolate;
    background: var(--degradado);
}
/*BOTÓN BARRAS*/
.abrir-menu, .cerrar-menu {
    color: orange;
    background: none;
    border: none;
    font-size: 35px;
    display: none;
}
@media (max-width: 768px) {
    .abrir-menu {
        display: block;
    }
    #desplegable {
        height: auto;
        overflow-y: auto;
    }
    .nav-item a:hover {
        background: var(--bg-oscuro-max);
    }
}