/*BARRA DE NAVEGACIÓN*/
.topnav {
    background-color: var(--bg-oscuro);
    list-style: none;
    font-weight: bold;
    box-shadow: 0 0 3px 3px var(--bg-oscuro-max);
}
/*LOGO*/
.logo {
    height: 40px;
}
/*MENU*/
.menu {
    max-width: 992px;
    margin: 0 auto;
}
.menu a {
    border-radius: 10px;
}
/*COLORES MENU*/
.inicio {
    color: var(--text-naranja);
}
.inicioh a:hover {
    color: var(--text-naranja);
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.cultivos {
    color: var(--text-turquesa);
}
.cultivosh a:hover {
    color: var(--text-turquesa);
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.eventos {
    color: var(--text-salmon);
}
.eventosh a:hover {
    color: var(--text-salmon);
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.aldeanos {
    color: violet;
}
.aldeanosh a:hover {
    color: violet;
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.mapa {
    color: chartreuse;
}
.mapah a:hover {
    color: chartreuse;
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.otros {
    color: chocolate;
}
.otrosh a:hover {
    color: chocolate;
    background: linear-gradient(
        195deg,
        var(--bg-claro),
        var(--bg-oscuro-max) 40%);
}
.nav-toggle {
    color: orange;
    background: none;
    border: none;
    font-size: 40px;
    display: none;
}
/*@media (max-width: 1150px)  {
    .logo {
        height: 40px;
    }
    .menu a {
        margin-right: 2vw;
    }
}
@media (max-width: 1060px)  {
    .menu a {
        margin-right: 1vw;
    }
}
@media (max-width: 992px) {
    .logo {
        height: 35px;
    }
    .menu {
        font-size: 17px;;
    }
}
@media (max-width: 910px) {
    .logo {
        height: 35px;
    }
    .menu {
        font-size: 16px;;
    }*/