/*CONTENIDO*/
.portada-body {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    overflow:auto;
    height: calc(100vh - 80px);
    padding-top: 50px;
}
.portada-img img {
    width: 65vw;
}
.juminos img {
    width: 60vw;
}
/*FOOTER*/
.redes {
    border-left: 2px solid var(--text-naranja);
}
.titulo-pie {
    color: var(--text-naranja);
}
.btn-redes:hover {
    color: var(--text-naranja);
}
.btn-home:hover {
    color: var(--text-naranja);
}
.sobreST {
    width: 80vw;
}
.sobreST img{
    border-radius: 25px;
    width: 25vw;
}
blockquote {
    background: url("../img/barone_cita.jpg") no-repeat;
    background-size: cover;
    border-left: 10px solid orange;
    width: 50vw;
    color: orange;
    border-radius: 20px;
}
blockquote p {
    margin: 0 30px 30px 320px;
}
.comillas {
    color:orange;
    font-size: xx-large;
    margin-left: 250px;
}
@media (max-width: 768px) {
    .portada-img img {
        width: 95vw;
    }
    .juminos img {
        width: 80vw;
    }
}